@import "tailwindcss";
@import 'tippy.js/dist/tippy.css';
@plugin "daisyui";

@layer utilities {
  .bg-theme {
    background-image: linear-gradient(to bottom right, #FFFBEB, #FFFFFF, #FEF3C7);
  }

  .border-theme {
    border: 1px solid #FEF3C7;
  }

  .text-theme {
    color: #5C4A3D;
  }
}

.jodit-wysiwyg ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.jodit-wysiwyg ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.jodit-wysiwyg ol[type="A"] { list-style-type: upper-alpha; }
.jodit-wysiwyg ol[type="a"] { list-style-type: lower-alpha; }
.jodit-wysiwyg ol[type="I"] { list-style-type: upper-roman; }
.jodit-wysiwyg ol[type="i"] { list-style-type: lower-roman; }
